@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($bg, $color, $border) {
  background-color: $bg;
  color: $color;
  border: 5px solid $border;
  border-radius: 999px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
