$bg-color-dark: #091540;
     $bg-color-light: #fff;
     $text-color-dark: #fff;
     $text-color-light: #091540;
     $header-bg-dark: #202535;
     $header-bg-light: #FBFDFE;
     $card-bg-dark: #202535;
     $card-bg-light: #fff;
     $card-border-dark: #535868;
     $card-border-light: #D6E2F5;
     $btn-primary-bg: #F25C54;
     $btn-primary-text-dark: #091540;
     $btn-primary-text-light: #FBFDFE;
     $btn-secondary-bg-dark: #2F364B;
     $btn-secondary-bg-light: #FBFDFE;
     $btn-secondary-text-dark: #FBFDFE;
     $btn-secondary-text-light: #091540;
     $btn-border-dark: #535868;
     $btn-border-light: #D6E2F5;
     $theme-toggle-bg-dark: #535868;
     $theme-toggle-bg-light: #D6E2F5;
     $icon-filter-dark: none;
     $icon-filter-light: brightness(0) saturate(100%) invert(13%) sepia(15%) saturate(2102%) hue-rotate(201deg) brightness(93%) contrast(96%);
     $skeleton-gradient-dark: linear-gradient(to right, #202535 8%, #2F364B 18%, #202535 33%);
     $skeleton-gradient-light: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);